# secrets.properties  ← NICHT in Git committen! In .gitignore eintragen!
# Erhalte deinen API-Key unter: https://console.cloud.google.com/
# Aktiviere dort: "Maps SDK for Android"

MAPS_API_KEY=AIzaSyB0SfjLRTb5gw6yWdptoLSA08g9LaXHNk8
